<div>
  <h1>Lista de Productos</h1>
  {{#each data}}
    <p>
      id:
      {{this.id}}
      title:
      {{this.title}}
      description:
      {{this.description}}
      price:
      {{this.price}}
      thumbnail:
      {{this.thumbnail}}
      code:
      {{this.code}}
      stock:
      {{this.stock}}
    </p>
    <hr />
  {{/each}}

</div>